:root {
    background-color: #ebd4ef;
}

#inicio {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 20px;
    color: white;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 20px;
    text-align: center;
}

main {
    background-color: #f7f4fa;
    color: white;
    padding: 10px 20px;
    text-align: right;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #9226da;
    color: rgb(2, 2, 5);
    position: relative;
    bottom: 0;
    width: 100%;
}

